.clients-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients {
  @include flex-container(row, center, flex-start);
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;


  &__box {
    width: 210px;
    height: 92px;
    border-radius: $borders;
    border: 1px solid getColor(logos);
    @include flex-container(row, center, center);
  }

  &__svg {
    width: 100px;
    height: 52px;
    padding-left: 25px;
  }

  &--svg {
    padding-left: 7px;
  }

  &__logo {
    fill: getColor(logos);
  }

  &__box:hover,
  &__box:focus,
  &__box:active {
    border-color: getColor(brand);
  }
  &__box:hover &__logo,
  &__box:focus &__logo,
  &__box:active &__logo {
    fill: getColor(brand);
  }
}

@media (min-width: 769px) {
  clients__box {
    width: 226px;
  }
}

@media (min-width: 1200px) {
  .clients-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .clients {
    @include flex-container(row, space-between, flex-start);
    margin-top: 50px;

    &__box {
      width: 170px;
      padding: 14px 32px;
    }

    &__svg {
      padding-top: 3px;
      padding-left: 27px;
    }

    &--svg {
      padding-left: 7px;
    }
  }
}